apiVersion: v1
kind: ConfigMap
metadata:
  name: lab-disk-config
  namespace: kube-system
data:
  provisioner: ragdollphysics.org/lab-disk
  lvm_group: vg-kube
  shared_nfs_root: /srv/shared-nfs
  shared_nfs_nodes: [ k8s-dev ]
  nfs_access_cidr: 10.0.0.0/8
  iscsi_portal_addr: 0.0.0.0:3260
  allow_destructive_actions: "true"
  chap_auth_enabled: "true"