kind: DaemonSet
apiVersion: apps/v1
metadata:
  name: lab-disk
  namespace: kube-system
spec:
  selector:
    matchLabels:
      app: storage
      component: lab-disk
  template:
    metadata:
      labels:
        app: storage
        component: lab-disk
    spec:
      serviceAccountName: lab-disk
      containers:
      - name: lab-disk
        image: docker-registry.home/lab-disk:latest
        imagePullPolicy: Always
        securityContext:
          privileged: true
          capabilities:
            add: [ SYS_ADMIN ]
        env:
        - name: LAB_DISK_CONFIGMAP
          value: lab-disk-config
        - name: LAB_DISK_NODE_NAME
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        - name: LAB_DISK_NODE_IP
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        resources:
          requests:
            cpu: 100m
            memory: 256Mi
          limits:
            cpu: 500m
            memory: 1Gi        
        volumeMounts:
        - name: nfs-mount-root
          mountPath: /srv/nfs
        - name: shared-nfs-mount-root
          mountPath: /srv/shared-nfs
        - name: syskernelconfig
          mountPath: /sys/kernel/config
        - name: runlvm
          mountPath: /run/lvm
        - name: libmodules
          mountPath: /lib/modules
        - name: dev
          mountPath: /dev
        - name: varlibnfs
          mountPath: /var/lib/nfs
        - name: hostetc
          mountPath: /app/hostetc
        - name: etctarget
          mountPath: /etc/target
      # nodeSelector:
      #   legacy-nfs: "true"
      volumes:
      - name: nfs-mount-root
        hostPath:
          path: /srv/nfs
          type: DirectoryOrCreate
      - name: shared-nfs-mount-root
        hostPath:
          path: /srv/shared-nfs
          type: DirectoryOrCreate
      - name: syskernelconfig 
        hostPath:
          path: /sys/kernel/config
      - name: runlvm 
        hostPath:
          path: /run/lvm
      - name: libmodules 
        hostPath:
          path: /lib/modules
      - name: dev 
        hostPath:
          path: /dev/
      - name: varlibnfs
        hostPath:
          path: /var/lib/nfs
      - name: hostetc
        hostPath:
          path: /etc
      - name: etctarget
        hostPath:
          path: /etc/target
          type: DirectoryOrCreate
