resource {{ persistent_volume_id }}
  net {
    protocol C;
    allow-two-primaries yes;
  }

  startup {
    become-primary-on both;
  }

  device    /dev/drbd-{{ persistent_volume_id }};
  disk      /dev/drdbpool/{{ persistent_volume_id }};
  meta-disk internal;

  on k8s-worker-intel-01 {
      node-id   0;
      address   192.168.0.252:7000;
  }

  on k8s-worker-intel-02 {
      node-id   1;
      address   192.168.0.251:7000;
  }
}